<style>

body::-webkit-scrollbar {
    width: 2vh;
    position:fixed;
    height:2vh;
    z-index:5;
    background: rgb(34, 25, 65);
}
body::-webkit-scrollbar-button {
    background: white;
    display:none;
}
body::-webkit-scrollbar-track-piece {
    background: rgb(34, 25, 65);
}
body::-webkit-scrollbar-thumb {
    background: rgb(182, 173, 218);
}
body::-webkit-scrollbar-corner {
    background: rgb(34, 25, 65);
}
body::-webkit-resizer {
    background: rgb(34, 25, 65);
}
</style>

<div class="education-main">
    <div class="education-main-chart">
        <div class="education-main-chart-box">
            <h1 style="color:white;font-size: 3.5vh;padding:3.5vh 2vh 3.5vh 2.5vh;width:100%;display:block;background-color:#2e284d">카테고리</h1>
            <div class="education-main-chart-box-item">
                <h1 class="chart-title">
                <%= image_tag("sex1.svg", {:style=> "position:relative;top:0.2vh;width: 3.5vh;height:3.5vh;margin-right:0.8vh;"}) %>
                Sex</h1>
                <div class="education-main-chart-box-item-box">
                    <div id="category-1" class="education-main-chart-box-item-box-each" onclick="move_contraception()">
                        <%= image_tag("arrow4.svg")%>
                        <h1>피임</h1>
                    </div>
                    <div id="category-2" class="education-main-chart-box-item-box-each"  onclick="move_venereal()" >
                        <%= image_tag("arrow4.svg")%>
                        <h1>성병</h1>
                    </div>
                    <div id="category-" class="education-main-chart-box-item-box-each"  onclick="move_venereal()">
                        <%= image_tag("arrow4.svg")%>
                        <h1>성생활</h1>
                        <h2>콘텐츠 준비중</h2>
                    </div>
                </div>
            </div>
            <div class="education-main-chart-box-item">
                <h1 class="chart-title">
                <%= image_tag("gender.svg", {:style=> "position:relative;top:0.2vh;width: 4vh;height:4vh;margin-right:1vh;"}) %>
                Gender</h1>
                <div class="education-main-chart-box-item-box">
                    <div id="category-3" class="education-main-chart-box-item-box-each" onclick="move_genderequality()">
                        <%= image_tag("arrow4.svg")%>
                        <h1>젠더 다양성</h1>
                    </div>
                    <div id="category-4" class="education-main-chart-box-item-box-each" onclick="move_media()">
                        <%= image_tag("arrow4.svg")%>
                        <h1>미디어</h1>
                    </div>
                     <div id="category-" class="education-main-chart-box-item-box-each" onclick="move_media()">
                        <%= image_tag("arrow4.svg")%>
                        <h1>데이트</h1>
                        <h2>콘텐츠 준비중</h2>
                    </div>
                </div>
            </div>
            <div class="education-main-chart-box-item">
                <h1 class="chart-title">
                <%= image_tag("etc.svg", {:style=> "position:relative;top:0.2vh;width: 3vh;height:3vh;margin-right: 1.6vh;margin-left:0.5vh;"}) %>
                    Etc</h1>
                <div class="education-main-chart-box-item-box">
                    <div id="category-5" class="education-main-chart-box-item-box-each" onclick="move_browsing()">
                        <%= image_tag("arrow4.svg")%>
                        <h1>구경거리</h1>
                    </div>
                    <div id="category-6" class="education-main-chart-box-item-box-each"  onclick="move_qna()">
                        <%= image_tag("arrow4.svg")%>
                        <h1>Q&A</h1>
                    </div>
                 
                </div>
            </div>
        </div>
    </div>
    
    <div class="education-main-box">
        <div id="pin-1" class="airpin">
            <div id="contraception" class="education-main-box-content">
                <%= image_tag("contraception.png")%>
                <a href="/education/contraception"><button>피임법 알아보기!</button></a>
            </div>
        </div>
        <div id="pin-2" class="airpin">
            <div id="venereal" class="education-main-box-content">
               
                <%= image_tag("고민2.png")%>
                <a href="/education/venereal">
                <button>성병 진단하기!</button>
                </a>
            </div>
        </div>
        <div id="pin-3" class="airpin">
            <div id="genderequality"  class="education-main-box-content">
                <%= image_tag("gender1.png")%>
                <a href="/education/genderequality"> <button>싸운 이유 보기!</button></a>
            </div>
        </div>
         <div id="pin-4" class="airpin">
            <div id="media"  class="education-main-box-content">
                <%= image_tag("media1.png") %>
                 <a href="/education/genderequality"> <button>미디어 파헤치기!</button></a>
            </div>
        </div>
        <div id="pin-5" class="airpin">
            <div id="browsing"  class="education-main-box-content">
                <%= image_tag("browsing.png")%>
                <button><%=link_to "구경거리 보러가기!", education_reference2_path, remote:true %></button>
            </div>
        </div>
        <div id="pin-6" class="airpin">
            <div id="qna"  class="education-main-box-content">
               <%= image_tag("question.png")%>
            <a href="https://open.kakao.com/o/s2nOBrW"><button>질문하러 가기!</button></a> 
            </div>
        </div>
    </div>
</div>

<script>

    scroll_position =  $(window).scrollTop();
    if (scroll_position ==0) {
        $("#category-1").css({"background-color":"#292445"});
    }
    // $("body").css({"overflow-x": "hidden"})
   

    $(window).scroll(function() {
        scroll_position =  $(window).scrollTop();
        scroll_position1 = $(window).scrollLeft();
        $(".education-main-chart").css({left:`-${scroll_position1}px`})
        $(".nav").css({left:`-${scroll_position1}px`})
        // $(".nav").css({"position":"absolute"})
           $("#contraception").css({"position":"relative", left:""});
        if ($("#pin-1").length) {
            if (scroll_position >= $("#pin-1").offset().top && scroll_position  < $("#pin-2").offset().top-$(".nav").height()) {
                $("#contraception").css({"position":"fixed", left:`calc(35vh - ${scroll_position1}px)`});
                $("#category-1").css({"background-color":"#292445"});
                $("#category-1").parent().css({"background-color":"#211d38 "});
                $("#category-3").parent().css({"background-color":"initial "});
                $("#category-1").parent().parent().css({"background-color":"#25203e "});
                $("#category-3").parent().parent().css({"background-color":"initial"});
                $("#category-2").css({"background-color":"transparent"});
                $("#venereal").css({"position":"relative", top: "0", left: ""});
            } else if (scroll_position > $("#pin-2").offset().top-$(".nav").height() && scroll_position  < $("#pin-3").offset().top-$(".nav").height()) {
                $("#venereal").css({"position":"fixed", top: "9vh",left:`calc(35vh - ${scroll_position1}px)`});
                $("#category-2").css({"background-color":"#292445"});
                $("#category-1").css({"background-color":"transparent"});
                $("#category-3").css({"background-color":"transparent"});
                $("#category-1").parent().css({"background-color":"#211d38 "});
                $("#category-3").parent().css({"background-color":"initial "});
                $("#category-1").parent().parent().css({"background-color":"#25203e "});
                $("#category-3").parent().parent().css({"background-color":"initial"});
                $("#genderequality").css({"position":"relative",top: "0",left:""});
            }  else if (scroll_position > $("#pin-3").offset().top-$(".nav").height() && scroll_position < $("#pin-4").offset().top-$(".nav").height()) {
                $("#genderequality").css({"position":"fixed", top: "9vh",left:`calc(35vh - ${scroll_position1}px)`});
                $("#category-3").css({"background-color":"#292445"});
                $("#category-2").css({"background-color":"transparent"});
                $("#category-4").css({"background-color":"transparent"});
                $("#category-3").parent().css({"background-color":"#211d38 "});
                $("#category-1").parent().css({"background-color":"initial "});
                $("#category-5").parent().css({"background-color":"initial "});
                $("#category-3").parent().parent().css({"background-color":"#25203e "});
                $("#category-1").parent().parent().css({"background-color":"initial"});
                $("#category-5").parent().parent().css({"background-color":"initial"});
                $("#media").css({"position":"relative",top: "0",left:""});
            } else if (scroll_position >= $("#pin-4").offset().top-$(".nav").height() && scroll_position < $("#pin-5").offset().top-$(".nav").height()) {
                $("#media").css({"position":"fixed", top: "9vh",left:`calc(35vh - ${scroll_position1}px)`});
                $("#category-4").css({"background-color":"#292445"});
                $("#category-3").css({"background-color":"inherit"});
                $("#category-5").css({"background-color":"inherit"});
                $("#category-3").parent().css({"background-color":"#211d38 "});
                $("#category-1").parent().css({"background-color":"initial "});
                $("#category-5").parent().css({"background-color":"initial "});
                $("#category-3").parent().parent().css({"background-color":"#25203e "});
                $("#category-1").parent().parent().css({"background-color":"initial"});
                $("#category-5").parent().parent().css({"background-color":"initial"});
                $("#browsing").css({"position":"relative",top: "0",left:""});
            } else if (scroll_position >= $("#pin-5").offset().top-$(".nav").height() && scroll_position < $("#pin-6").offset().top-$(".nav").height()) {
                $("#browsing").css({"position":"fixed", top: "9vh",left:`calc(35vh - ${scroll_position1}px)`});
                $("#category-5").css({"background-color":"#292445 "});
                $("#category-5").parent().parent().css({"background-color":"#25203e "});
                $("#category-3").parent().parent().css({"background-color":"initial"});
                $("#category-5").parent().css({"background-color":"#211d38 "});
                $("#category-3").parent().css({"background-color":"initial "});
                $("#category-4").css({"background-color":"inherit"});
                $("#category-6").css({"background-color":"inherit"});
                $("#qna").css({"position":"relative",top: "0",left:""});
            } else if (scroll_position >= $("#pin-6").offset().top-$(".nav").height()) {
                $("#qna").css({"position":"fixed", top: "9vh",left:`calc(35vh - ${scroll_position1}px)`});
                $("#category-6").css({"background-color":"#292445 "});
                $("#category-5").css({"background-color":"transparent"});
            }

        }

    })

    /*메뉴클릭*/
    function move_contraception() {
    var offset = $("#pin-1").offset().top-$(".nav").height();
    $('html, body').animate({scrollTop : offset}, 800);
    }
    function move_venereal() {
    var offset = $("#pin-2").offset().top-$(".nav").height();
    $('html, body').animate({scrollTop : offset}, 800);

    }
    function move_genderequality() {
    var offset = $("#pin-3").offset().top-$(".nav").height();
    $('html, body').animate({scrollTop : offset}, 800);
    }
    function move_media() {
    var offset = $("#pin-4").offset().top-$(".nav").height();
    $('html, body').animate({scrollTop : offset}, 800);
    }
    function move_browsing() {
    var offset = $("#pin-5").offset().top-$(".nav").height();
    $('html, body').animate({scrollTop : offset}, 800);
    }
    function move_qna() {
    var offset = $("#pin-6").offset().top-$(".nav").height();
    $('html, body').animate({scrollTop : offset}, 800);
    }
</script>