
<p id="notice"><%= notice %></p>


<div class="post-new">
  <p id="notice"><%= notice %></p>
  <div class="post-index-profile">
        <img class="post-index-profile-img" src="/assets/banana.gif">
        <h1 class="post-username" ><%=User.find_by_id(current_user.id).email%></h1>
        <h1>환영합니다!</h1>
  </div>
  <div class="post-index-container post-show">
    <div class="post-index-container-top">
      <div style="display:flex;align-items:center;">
        <a href="/posts" style="font-size: 6vh">커뮤니티</a>
        <h2 style="font-size: 3vh">글보기</h1>
      </div>
      <div class="post-search" style="">
     
      <%= link_to '수정', edit_post_path(@post), :class=>"holy"%> 
      <%= link_to '삭제', @post, method: 'delete', data: { confirm: 'Are you sure?' }%>
      </div>
    </div>
   
    <%@post.in = @post.in + 1%>
    <%@post.save%>

    <div class="post-show-content">
      <h1><%= @post.title %></h1>
      <h2><%= @post.content %></h2>
    </div>

    <span class="likebtn-wrapper" style="margin-left:3%; margin-bottom:3%;" data-theme="custom" data-icon_l="hrt1" data-icon_d="sml3-u" data-icon_l_c="#ffd5d8" data-icon_l_c_v="#fb053e" data-icon_d_c_v="#080089" data-lang="ko" data-identifier="likey_likelion"></span>
    <script>(function(d,e,s){if(d.getElementById("likebtn_wjs"))return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];a.async=1;a.id="likebtn_wjs";a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","//w.likebtn.com/js/w/widget.js");</script>

  <a target="_blank"><img src="http://www.cutercounter.com/hit.php?id=23868&nd=6&style=27" border="0" alt="hit counter"></a>

    <%=form_for Comment.new, url:post_comments_path(@post.id), :html =>{:class=> "post-show-new-comment"} do |f|%>
    <%=f.text_field :content%>
    <%=f.submit :'작성', class: "post-show-new-comment-input"%>
    <% end%>
    <%@post.comments.each do |comment|%>
    <div class="post-show-comments">
        <h1><%=comment.content%></h1>
        <h2><%@usernumber=comment.author_id.to_i()%><%user=User.find_by_id(@usernumber)%><%=user.email%></h2>
        <%=link_to '삭제', post_comment_path(@post.id, comment.id), method:'delete'%>
    </div>
    <% end%>

      
    </div>
  </div>
</div>

<script>
 $("body").css({"background-color": "rgb(100, 33, 33)"});




</script>
  