<!DOCTYPE html>
<html>
  <head>
    <title>Sg1</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href='https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css' rel='stylesheet' type='text/css'>
 

  </head>
  <style>
    @media only screen and (min-width:0) {
        .nav, .main-1, .main-2, .main-3, .main-4, .main-4-0, .main-4-1, .main-5 {
            width: 140vh;
        }
        .nav {
          position: absolute;
        }
    }
    @media only screen and (min-width: 140vh) {
        .nav, .main-1, .main-2, .main-3, .main-4, .main-4-0, .main-4-1, .main-5 {
            width: 100%;
        }
         .nav {
          position: fixed;
        }
    }
  </style>
  <body>
    <div class="nav">
      <div class="logo">
        <a href="/"><h1>Logo With</h1></a>
        <h2>성 성 | 가르칠 교</h2>
      </div>
      <div class="nav-menu-box">
          <a class="nav-menu" href="/">
            <img src="/assets/main.svg">
            <h1>Main</h1>
          </a>
          <a class="nav-menu" href="/education/index">
            <img src="/assets/book.svg">
            <h1>Education</h1>
          </a>
          <a class="nav-menu" href="/posts/index" style="left:1vh">
            <img src="/assets/community1.svg" style="top:0vh;height: 6.5vh;">
            <h1 style="top:-2.3vh">Community</h1>
          </a>
           <a class="nav-menu" href="/posts/index" style="left:1.5vh;">
            <img src="/assets/counsel.svg" style="top:-0.2vh;height:5.2vh">
            <h1 style="top:-1.4vh">Counsel</h1>
          </a>
          <% if user_signed_in? %>
          <a class="nav-menu" >
            <img src="/assets/account.svg">
            <h1>Logout</h1>     
          </a>
          <% else %>
           <a class="nav-menu" href="/users/sign_in" >
            <img src="/assets/account.svg">
            <h1>Login</h1>     
          </a>
          <% end %>
      </div>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  
  </body>
</html>

