<!DOCTYPE html>
<html>
  <head>
    <title>Sg1</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href='https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css' rel='stylesheet' type='text/css'>
 


  </head>

  <body>
    <div class="nav">
      <h1 class="logo">LOGO WITH</h1>
      <div class="nav-menu-box">
          <a class="nav-menu" href="/">
            <img src="/assets/main.svg">
            <h1>Main</h1>
          </a>
          <a class="nav-menu" href="/education/index">
            <img src="/assets/book.svg">
            <h1>Education</h1>
          </a>
          <a class="nav-menu" href="/posts/index">
            <img src="/assets/community1.svg" style="top:3px;height: 60px;">
            <h1 style="top:-17px">Community</h1>
          </a>
           <a class="nav-menu" href="/posts/index">
            <img src="/assets/counsel.svg" style="height:55px;">
            <h1 style="top:-14px">Counsel</h1>
          </a>
          <% if user_signed_in? %>
          <a class="nav-menu" >
            <img src="/assets/account.svg">
            <h1>Logout</h1>     
          </a>
          <% else %>
           <a class="nav-menu" href="/users/sign_in" >
            <img src="/assets/account.svg">
            <h1>Login</h1>     
          </a>
          <% end %>
          
          
      </div>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
