<!DOCTYPE html>
<html>
  <head>
    <title>성교 </title>
    <%= csrf_meta_tags %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   
    <%# <script src="https://apis.google.com/js/platform.js" async defer></script> %>
    
   

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <meta name="google-signin-client_id" content="336256666389-timddavdks14cnn1jhqv6qqpcjuo4s37.apps.googleusercontent.com">
    <link href='https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico" />
   
    

  </head>
  <style>
    @media only screen and (min-width:0) {
        .nav, .main-1, .main-2, .main-3, .main-4, .main-4-0, .main-4-1, .main-5 {
            width: 140vh;
        }
        .nav {
          position: fixed;
        }
    }
    @media only screen and (min-width: 140vh) {
        .nav, .main-1, .main-2, .main-3, .main-4, .main-4-0, .main-4-1, .main-5 {
            width: 100%;
        }
         .nav {
          position: fixed;
        }
    }
  </style>
  <body>
    <div class="nav">
      <div class="logo">
        <a href="/"><h1>Logo With</h1></a>
        <h2>성 성 | 가르칠 교</h2>
      </div>
      <div class="nav-menu-box">
          <a class="nav-menu" href="/">
            <img src="/assets/main.svg">
            <h1>Main</h1>
          </a>
          <a class="nav-menu" href="/education/index">
            <img src="/assets/book.svg">
            <h1>Education</h1>
          </a>
          <a class="nav-menu" href="/posts" >
            <img src="/assets/community1.svg" style="top:0vh;height: 6.5vh;">
            <h1 style="top:-2.3vh">Community</h1>
          </a>
           <a class="nav-menu" href="/counsel/index" >
            <img src="/assets/counsel.svg" style="top:-0.2vh;height:5.2vh">
            <h1 style="top:-1.4vh">Counsel</h1>
          </a>
          <% if user_signed_in? %>
          
            <a class="nav-menu" href="/user/index" >
              <img src="/assets/account.svg" style="top:0vh;height:4vh">
              <h1 style="top:-0.8vh">Account</h1>     
            </a>
            <%= link_to destroy_user_session_path, method: :delete, :class => "nav-menu" do%>
              <img src="/assets/logout.svg" style="top:0vh;height:4vh">
              <h1 style="top:-0.8vh">Logout</h1>   
            <%end%>
          <% else %>
           <a class="nav-menu" href="/users/sign_in" >
            <img src="/assets/account.svg" style="top:0vh;height:4vh">
            <h1 style="top:-0.8vh">Login</h1>     
          </a>
          <% end %>
      </div>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  
  </body>
</html>

